.select-dish {
  display: flex;
  flex-direction: column;

  @include media-breakpoint(sm) {
    flex-direction: row;
  }
}

.dish-search-container {
  flex: 0 0 100%;
  max-width: 100%;

  @include media-breakpoint(sm) {
    flex: 0 0 75%;
    max-width: 75%;
  }
}
