.dish-detail-page {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @include media-breakpoint(sm) {
    flex-direction: row;
  }
}

.dish-detail-container {
  flex: 0 0 100%;
  max-width: 100%;

  @include media-breakpoint(sm) {
    flex: 0 0 75%;
    max-width: 75%;
  }
}

.dish-details-overview {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include media-breakpoint(sm) {
    flex-direction: row;
  }
}

.dish-ingredients {
  background: $yellow;
  border: 4px solid $black;
  height: 100%;
  padding: $padding-xs $padding-sm;
  flex: 0 0 100%;
  max-width: 100%;
  margin-top: $padding-sm;

  @include media-breakpoint(sm) {
    flex: 0 0 50%;
    max-width: 50%;
    margin: 0 0 0 $padding-md;
  }

  table {
    width: 100%;
  }

  tr {
    line-height: 35px;
  }

  td {
    &:first-child {
      padding-left: $padding-xs;
    }
  }

  hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.dish-ingredients-heading {
  display: flex;
  flex-direction: row;
  justify-content: start;
  text-transform: uppercase;
  font-weight: 500;

  span {
    white-space: pre;
  }
}

.ingredient-total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;

  span {
    white-space: pre;
    padding-right: 12px;
    align-self: center;
  }

  button {
    width: 100%;
  }
}

.dish-description {
  flex: 0 0 100%;
  max-width: 100%;
  margin-left: 16px;

  @include media-breakpoint(sm) {
    flex: 0 0 50%;
    max-width: 50%;
  }

  h2 {
    margin-top: 0;
  }

  img {
    width: 100%;
  }
}

.preparation-section {
  margin-top: 32px;
  padding: 16px;
  flex: 0 0 100%;
  max-width: 100%;
}
