.printout-dishes {
  list-style: none;
  padding: 0;
}

.printout-dish {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: $padding-md;

  @include media-breakpoint(md) {
    flex-direction: row;
    justify-content: flex-space-between;
    align-items: flex-start;
  }

  &:last-child {
    padding-bottom: 0;
  }

  img {
    object-fit: cover;
    width: 150px;
    height: 150px;
    border: 3px solid $black;
    margin-bottom: $padding-xs;

    @include media-breakpoint(md) {
      margin-bottom: 0;
    }
  }

  section {
    padding-left: 0;

    @include media-breakpoint(md) {
      padding-left: $padding-md;
    }
  }

  h2,
  h3 {
    text-transform: uppercase;
    font-weight: 500;
    line-height: 30px;
  }

  h3 {
    font-size: 18px;
  }

  p {
    font-size: 14px;
  }
}
